node-red flow/nodered-twitterTest.txt
[{"id":"75c15e52.eea94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d451f.e6c74ae1","type":"twitter-credentials","z":"","screen_name":"swsmile1028"},{"id":"ce1184e6.d57c68","type":"http response","z":"75c15e52.eea94","name":"","statusCode":"","headers":{},"x":1030,"y":340,"wires":[]},{"id":"6b218f57.749cc","type":"debug","z":"75c15e52.eea94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":200,"wires":[]},{"id":"adeb7998.bcbcb8","type":"inject","z":"75c15e52.eea94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["340e76d3.e2f65a","331a0d4a.b421d2"]]},{"id":"340e76d3.e2f65a","type":"debug","z":"75c15e52.eea94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":254,"wires":[]},{"id":"a36beec0.fa153","type":"twitter in","z":"75c15e52.eea94","twitter":"1d451f.e6c74ae1","tags":"#FridayFeeling","user":"false","name":"","topic":"tweets","inputs":0,"x":212.22222222222223,"y":338.88888888888886,"wires":[["340e76d3.e2f65a"]]},{"id":"331a0d4a.b421d2","type":"file","z":"75c15e52.eea94","name":"","filename":"storageFile.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":591,"y":347,"wires":[]}]