node-red flow/提供get请求，从轮询结果中提出结果.txt
[{"id":"ddf0db70.4e7748","type":"http in","z":"8cecd623.f1b268","name":"","url":"/ssss","method":"get","upload":false,"swaggerDoc":"","x":108,"y":535,"wires":[["6984c21a.c98ccc"]]},{"id":"29127ef8.5f1792","type":"http response","z":"8cecd623.f1b268","name":"","statusCode":"","headers":{},"x":799,"y":505,"wires":[]},{"id":"b86071b2.d5b76","type":"debug","z":"8cecd623.f1b268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":781,"y":686,"wires":[]},{"id":"6984c21a.c98ccc","type":"function","z":"8cecd623.f1b268","name":"","func":"var serviceList = flow.get('serviceList');\nmsg.payload = serviceList;\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":541,"wires":[["29127ef8.5f1792","b86071b2.d5b76"]]}]