node-red flow/轮询4个web service.txt
[{"id":"b4b21ee1.bba0b","type":"http request","z":"8cecd623.f1b268","name":"web service 1 - 8081","method":"GET","ret":"obj","url":"http://localhost:8081/","tls":"","x":624,"y":207,"wires":[["6cc5a5a8.94d88c"]],"outputLabels":[" node1"]},{"id":"fab4c21.d9b164","type":"http request","z":"8cecd623.f1b268","name":"web service 2 - 8082","method":"GET","ret":"obj","url":"http://localhost:8082/","tls":"","x":633,"y":283,"wires":[["6cc5a5a8.94d88c"]],"outputLabels":[" node1"]},{"id":"6cc5a5a8.94d88c","type":"function","z":"8cecd623.f1b268","name":"","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get('count')||0;\nvar WEBSERVICECOUNT = context.global.webServiceCount;\nvar service = msg.payload;\nvar serviceList;\n\nconsole.log(\"enter\");\n// console.log(\"msg.payload:\"+msg.payload);\n\n\nif (count % WEBSERVICECOUNT == 0 ){// the first time to request\n    serviceList = [];\n    count = 0;\n    \n    // console.log(\"serviceList:.....\"+serviceList);\n    console.log(\"1.....:\"+service);\n}\nelse{\n    serviceList = flow.get('serviceList');\n    console.log(\"2......:\"+service);\n}\n\nconsole.log(service.available);\nif (service.available){\n    serviceList.push(service);\n    flow.set('serviceList',serviceList);\n}\n\ncount += 1;\nflow.set('count',count);\n\nconsole.log(\"count:\"+count);\n\nmsg.payload = serviceList;\nreturn msg;","outputs":1,"noerr":0,"x":927,"y":278,"wires":[[]]},{"id":"e6d5ce9b.4e81","type":"function","z":"8cecd623.f1b268","name":"","func":"\nconsole.log(\"-------------------------\");\nflow.set('serviceList',[]);\nflow.set('count',0);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":250,"wires":[["47c5d064.d4128","1e7dbbf7.aca6c4","72c7a7ff.5d17f8","864fc33.85d274"]]},{"id":"864fc33.85d274","type":"function","z":"8cecd623.f1b268","name":"","func":"console.log(\"request web 1\");\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":203,"wires":[["b4b21ee1.bba0b"]]},{"id":"47c5d064.d4128","type":"function","z":"8cecd623.f1b268","name":"","func":"console.log(\"request web 2\");\nreturn msg;","outputs":1,"noerr":0,"x":433,"y":275,"wires":[["fab4c21.d9b164"]]},{"id":"71787d49.3d01e4","type":"inject","z":"8cecd623.f1b268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":227,"wires":[["e6d5ce9b.4e81"]]},{"id":"85481881.f2bf18","type":"http request","z":"8cecd623.f1b268","name":"web service 3 - 8083","method":"GET","ret":"obj","url":"http://localhost:8083/","tls":"","x":627,"y":339,"wires":[["6cc5a5a8.94d88c"]],"outputLabels":[" node1"]},{"id":"1e7dbbf7.aca6c4","type":"function","z":"8cecd623.f1b268","name":"","func":"console.log(\"request web 3\");\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":343,"wires":[["85481881.f2bf18"]]},{"id":"decc1020.b12ae","type":"inject","z":"8cecd623.f1b268","name":"Interval","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":337,"wires":[["e6d5ce9b.4e81"]]},{"id":"91f2baa9.7e2f68","type":"http request","z":"8cecd623.f1b268","name":"web service 4 - 8084","method":"GET","ret":"obj","url":"http://localhost:8084/","tls":"","x":655,"y":394,"wires":[["6cc5a5a8.94d88c"]],"outputLabels":[" node1"]},{"id":"72c7a7ff.5d17f8","type":"function","z":"8cecd623.f1b268","name":"","func":"console.log(\"request web 4\");\nreturn msg;","outputs":1,"noerr":0,"x":436,"y":398,"wires":[["91f2baa9.7e2f68"]]}]